* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    width: 200px;
    height: auto;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: rgb(3, 187, 248);
    border-style: solid;
    border-color: white;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn, .dropdown .dropbtn__active {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn, .navbar__active__item, .dropdown .dropbtn__active {
    background-color: rgb(0, 89, 255);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: rgb(0, 89, 255);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.home {
    background-image: url("images/Alphard.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    color: white;
}

.home__content {
    padding-top: 300px;
}

.p1 {
    font-size: 50px;
}

.p2 {
    font-size: 25px;
}

.p1 span {
    color: blue;
}

.product__description {
    padding: 0 150px;
    text-align: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__desc {
    display: block;
    text-align: center;
    margin: 20px;
    border-style: solid;
    font-weight: bold;
    padding: 10px;
}

.family__car__pic {
    width: 175px;
    height: 116px;
}

h1 {
    text-align: center;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px
}

.name__email {
    width: 33%;
    background-color: lightgray;
    padding: 20px;
}

.name__email input {
    border: none;
    border-bottom:1px solid; 
    background-color: lightgray;
    width: 100%;
}

.message {
    width: 34%;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
}

.contact__me {
    width: 33%;
    padding: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 200px;
}

.footer__links {
    margin: 10px;
}

.newsletter {
    border-style: solid;
    width: 50%;
    background-color: lightgray;
}

.input__container input {
    border: none;
    border-bottom:1px solid; 
    background-color: lightgray;
}

.footer__content {
    background-color: rgb(6, 131, 248);
    text-align: center;
    padding: 20px;
    color: white;
}

.login__form {
    display: block;
    text-align: center;
    padding: 25px;
}

.login__form a {
    color: blue;
}

.register__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.register__field {
    width: 500px;
}

.register__field textarea, .input {
    width: 100%;
}

.input {
    border: none;
    border-bottom:1px solid;
}

@media only screen and (max-width: 600px) {
    .header {
        display: block;
        width: 100%;
    }
    
    .logo {
        width: 200px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .header__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}